<h2>Users:</h2>

{{#unless model}}
  No following users.
{{/unless}}

<ul>
  {{#each}}
    <li>
      <p>
        <img class="icon" {{bind-attr src=iconURL}}>
        {{username}}
        <a href="#" {{action "unfollow"}}>[x]</a>
      </p>
      <p>
      <label>{{input type="checkbox" checked=events.push}}Push</label>
      <label>{{input type="checkbox" checked=events.star}}Star</label>
      <label>{{input type="checkbox" checked=events.pullreq}}Pull Req</label>
      <label>{{input type="checkbox" checked=events.gist}}Gist</label>
      <label>{{input type="checkbox" checked=events.others}}Others</label>
      </p>
    </li>
  {{/each}}
</ul>

<form {{action "follow" on="submit"}}>
  {{input value=username}}
  <button>Follow</button>
</form>
